clam-av-runner/.vs/
clam-av-runner/clam-av-runner/bin/Debug/
clam-av-runner/clam-av-runner/obj/
clam-av-runner/my-web-app/bin/Debug/
clam-av-runner/my-web-app/bin/Release/
clam-av-runner/my-web-app/obj/Debug/
clam-av-runner/my-web-app/obj/Release/
clam-av-runner/my-web-app/obj/
clam-av-runner/runner/bin/
clam-av-runner/runner/obj/
